@import url(fonts&col.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

form {
    font-family: texto;
    
    text-align: left;
}

/*Labels*/
.label__normal{
    display: inline-block;
    padding: 1px 1px;
    border-bottom: 2px solid var(--primary);
    margin-top: 1px;
    margin-bottom: 1px;
    border-radius: 4px;

    color: var(--labelsOscuro);
}

.label__italic {
    display: inline-block;
    padding: 1px 1px;
    border-bottom: 2px solid var(--primary);
    margin-top: 1px;
    margin-bottom: 1px;
    border-radius: 4px;

    color: var(--labelsOscuro);

    font-family: cursiva;
}

.label__obl {
    display: inline-block;
    padding: 1px 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    border-radius: 4px;

    color: var(--complement);
    font-family: subtitulo;
   
} 

.label__claro{
    display: inline-block;
    padding: 1px 2px;
    border-bottom: 2px solid var(--primary);
    margin-top: 1px;
    margin-bottom: 1px;
    border-radius: 4px;

    color: var(--extra);
}


/* Inputs */
input {
    color: black;
    border: 2px solid var(--extra);
    border-radius: 3px;
    padding: 3px;
    font-size: var(--fsTxt);
}

/* textareas */

textarea {
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

textarea:focus {
    border-color: var(--primary);
    outline: none;
}

.button__Osc {
    background-color: var(--base);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: var(--fsTxt);
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 3px 0px black;
}

.button__Osc:active {
    background-color: var(--complement);
    box-shadow: 0px 2px 0px var(--complement);
    position: relative;
    top: 1px;
}

.button__Cla {
    background-color: var(--extra);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: var(--fsTxt);
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 3px 0px var(--base);
}

.button__Cla:active {
    background-color: var(--complement);
    box-shadow: 0px 2px 0px var(--complement);
    position: relative;
    top: 1px;
}

.button__Opc {
    background-color: var(--primary);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: var(--fsTxt);
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 3px 0px var(--extra);
}

.button__Opc:active {
    background-color: var(--secundary);
    box-shadow: 0px 2px 0px var(--secundary);
    position: relative;
    color: black;
    top: 1px;
}

/* Option  */

select {
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    width: 20%;
    height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #f8f8f8;
    background-repeat: no-repeat;
    background-position: right 10px center;
  }
  
  select:focus {
    border-color: var(--complement);
    outline: none;
  }

  select option:checked {
    background-color: var(--base);
    color: #fff;
  }