@import url(forms.css);
@import url(fonts&col.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Colores y fondos */
/*color Primario */
.cPrim {
    color: var(--primary);
}

/*Secundario */
.cSec {
    color: var(--secundary);
}

/*color Base*/
.cBase {
    color: var(--base);
}

.cComp {
    color: var(--complement);
}

.cExt {
    color: var(--extra);
}

.cBlack {
    color: var(--black);
}

.cWhite {
    color: var(--white);
}

.cRed {
    color: red;
}

.bcPrim{
    background: var(--primary);
}
.bcSec{
    background: var(--secundary);
}
.bcCom{
    background: var(--complement);
}
.bcExt{
    background: var(--extra);
}
/* Modo oscuro */
body {
    background-color: var(--white);
    color: var(--black);
    transition: 0.3s ease all;
}

body.dark__Mode {
    color: var(--white);
    background: var(--black);
}

body.dark__Mode .card {
    background: #222222;
    color: var(--white);
    box-shadow: 0px 0px 10px rgba(194, 194, 194, 0.082);
}

body.dark__Mode .card__Large {
    background: #222222;
    color: var(--white);
    box-shadow: 0px 0px 10px rgba(194, 194, 194, 0.082);
}

body.dark__Mode .card__Med {
    background: #222222;
    color: var(--white);
    box-shadow: 0px 0px 10px rgba(194, 194, 194, 0.082);
}

body.dark__Mode .card__Small {
    background: #222222;
    color: var(--white);
    box-shadow: 0px 0px 10px rgba(194, 194, 194, 0.082);
}

body.dark__Mode .card__Tiny {
    background: #222222;
    color: var(--white);
    box-shadow: 0px 0px 10px rgba(194, 194, 194, 0.082);
}

body.dark__Mode label {
    color: var(--white);
}

body.dark__Mode form {
    color: var(--white);
}

/* Textos genéricos */
/* Texto normal */
.txt__Normal {
    font-family: Texto;
    font-weight: lighter;
    margin-bottom: 10px;
}

/* Texto en negrita*/
.txt__Neg {
    font-family: negrita;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Texto en cursiva */
.txt__Ita {
    font-family: cursiva;
    margin-bottom: 10px;
}

.container {
    max-width: 120rem;
    margin-inline: auto;
    padding-inline: 1.5rem;
}

.card {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 10px;
    transition: 0.3s ease all;
}

.card__Large {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 10px;
    width: 40%;
    height: 50vh;
}
.card__Med {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 10px;
    width: 30%;
    height: 45vh;
    font-size: 80%;
}
.card__Small {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 10px;
    width: 20%;
    height: 30vh;
    font-size: 70%;
}

.card__Tiny {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 10px;
    width: 15%;
    height: 20vh;
}

/* Menú */
.menu {
    background-color: #333;
    color: #fff;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s;
}

.menu a:hover {
    color: var(--extra);
}

.displ__flx {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
}

.grid__shop{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "head head head"
                        "autor image image"
                        "autor image image"
                        "precio venta cart";
}
.img__cards{
    display: flex;
    background-image: url("../images/Captura de pantalla_20230204_120059.png");
    border: solid 4px  white;
    border-radius: 4px;
    width: 300px;
    height: 200px;
    grid-area: image;
}
.grid__title{
    grid-area: head;
}
.grid__author{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
    
    grid-area: autor;
}
.grid__price{
    grid-area: precio;
}
.grid__sale{
    grid-area: venta;
}
.grid__cart{
    grid-area: cart;
}
/*Listas*/
.list{
    list-style: url("../images/list_img.svg") inside;
}
.list_Item{
   font-size: var(--fsTxt);
   position: relative;  
}
.list_Item::before{
    content: "";
    position: absolute;
    left: -25%;
    width: 10px;
    height: 250%;
    background-size: 250%;
    background-position: center;
}

/*Alertas y modal*/
.modal{
    top: 0;
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255,0.4);
    align-items: center;
    justify-content: center;
} 
button#modalBtn{
    background-color: var(--base);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: var(--fsTxt);
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 3px 0px black;
}
.modal_Content{
    background-color: var(--primary);
    color: #fff;
    width: 350px;
    height: 250px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 1em 1em #0b0c0e4d;
    border-radius: 1em;
}
.modal_Content::before{
    background-color: #f656567a;
    border-radius: 50%;
    content: '';
    filter: blur(60px);
    opacity: .15;
    position: absolute;
    top: -8px;
    right: -15em;
    width: 25em;
    height: 25em;
    z-index: 0;
    transition: background-color .3s;
}
.icon_Close{
    position: absolute;
    right: 20px;
    top: 20px;
    color: #222;
    cursor: pointer;
    transition: .3s;
    font-size: 20px;

}
.icon_Close:hover{
    color: #c7cac7;
}
.modal_Body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
}
.icon_Warning{
    font-size: 50px;
    color: var(--complement);
}
button#modal_okBtn{
    background-color: var(--extra);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: var(--fsTxt);
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 3px 0px var(--base);
    padding: 8px 15px;
    background-color: transparent;
    border: 1px solid var(--complement);
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
button#modal_okBtn:hover{
    background: #8f95a333;

}
.active{
    display: flex;
}

/* #icon{
    color: darkblue;
} */

/*Carrusel*/
.carrusel {
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: relative;
    overflow: hidden;  
    border-radius: 15px;
    
  }
  
  .container__elementocarrusel {
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: absolute;
    transition: all 0.5s;
  }
  
  .container__elementocarrusel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .btn__carrusel {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #E4F2E7;
    font-size: 18px;
  }
  
  .btn:active {
    transform: scale(1.1);
  }
  
  .btn__anteriorimg {
    display: flex;
    top: 45%;
    left: 2%;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
  
  .btn__siguienteimg {
    display: flex;
    top: 45%;
    right: 2%;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
  
  .btn__anteriorimg:hover, .btn__siguienteimg:hover{
    box-shadow: #387373 0 0 10px;
  }